header a.navbar-brand img {
    max-height: 75px !important;
}

main .container {
    margin-top: 10px;
}

main #product_detail {
   margin-top: 50px !important;
}

footer .mt16 {
  display: none;
}


